* {
    margin: 0px;
    font-family: 'Inter';
}

#logoId {
    margin-left: 50px;
    margin-top: 50px;
}

#titulo-menuSuperiorId {
    margin-left: 150px;
    margin-top: 50px;
}

#texto-menuSuperiorId {
    margin-left: 150px;
    margin-top: 35px;
    padding-bottom: 100px;
}

#menuSuperiorId {
    background-image: url(imagens/fundo-menusuperior.svg) !important;
    color: aliceblue;
}

#menuInformacionalId {
    background-color: #EAECE5;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#secaovideo {
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#titulovideo {
    color: #247BA0;
    margin-top: 50px;
}

#video {
    margin: 50px 25px 50px 100px;
}

#carrosel {
    background-color: #247BA0 !important;
    padding: 50px;
}

#titulocarrosel {
    color: white;
    text-align: center;
    font-size: 25px;
    margin-bottom: 25px;
}

#divcards {
    display: grid;
    grid-auto-flow: column;
}

#seta-esquerda {
    display: none;
}

#bruna {
    display: none;
}

#formulario {
    text-align: center;
}

#titulo-formulario {
    font-size: 25px;
    margin: 25px;
    color: #383838;

}

.icone {
    margin: 50px 0px 50px 100px;
    padding: 25px;
}

.textoinformativo {
    display: flex;
    align-items: center;
    /* margin: 50px 50px 50px 75px; */
}

.card {
    margin-left: 50px;
}

.seta {
    margin-top: 55%;
    cursor: pointer;
}

.seta:hover {
    transform: translateY(-7px);
    transition-duration: 0.5s;
}

input {
    width: 300px;
    height: 40px;
    background-color: #EAECE5;
    margin: 15px;
    border: 0px;
    border-radius: 8px;
    padding-left: 10px;
}

button {
    background-color: #247BA0;
    height: 40px;
    width: 250px;
    color: white;
    border: 0px;
    border-radius: 8px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}

button:hover {
    background-color: #318fb8;
    color: #EAECE5;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #05103092;
    transition-duration: 0.5s;
}